.home {
  height: 100vh;
  width: 100%;
  background-image: url("./resources/homeBlur.png");
  background-position: center;
  overflow: auto;
}
nav {
  padding: 0;
}
.p {
  font-size: 100px;
}
.filters {
  /* background: linear-gradient(180deg, rgba(255,247,224,1) 0%, rgba(216,116,24,1) 100%);; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 20vh;
}
.orderAndFilter {
  font-family: "Pokemon";
  color: #fff7ed;
  border: 2px solid #402e32;
  border-radius: 10px;
  background-color: #b2886b;
  cursor: pointer;
  width: 300px;
  height: 30px;
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.orderAndFilter:focus {
  outline: none;
}
.orderAndFilter:hover {
  background: #402e32;
  color: #d87418;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}
.loading {
  font-family: "Pokemon";
  color: #402e32;
  font-weight: 900;
  font-size: 22px;
}
a {
  text-decoration: none;
}
.btnRefresh {
  background-color: #d87418;
  color: #fff7f1;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-family: "Pokemon";
  box-shadow: 5px 3px 1px #402e32;
}
.btnRefresh:hover {
  background: #402e32;
  color: #fff7f1;
  box-shadow: 3px 2px 5px #775b47;
}