.img {
    /* background-image: url('./resources/pikachu-running.gif');
    background-position: center; */
    /* color: red;
    height: 50px;
    z-index: 500; */
}
.text {
    font-family: "Pokemon";
}