.container {
  height: 100vh;
  width: 100%;
  background-image: url("./resources/homeBlur.png");
  background-position: center;
  overflow: auto;
  font-family: "Pokemon";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.btnHome {
  /* position: absolute; */
  margin-bottom: 25px;
  top: 30px;
  left: 43%;
  background-color: #fff7f1;
  color: #402e32;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-family: "Pokemon";
  box-shadow: 5px 3px 1px #402e32;
}
.btnHome:hover {
  background: #402e32;
  color: #fff7f1;
  box-shadow: 3px 2px 5px #775b47;
}
.card {
  min-width: 500px;
  max-height: 700px;
  max-width: 600px;
  max-height: 850px;
  background-color: #fff7f1;
  padding: 15px;
  border-radius: 20px;
}
.pokeDetails {
  padding: 5px;
  color: #402e32;
}
.pokemonTipos {
  margin-top: 0px;
  margin-bottom: 1px;
  color: #d87418;
  font-weight: 900;
}
.pokeImg {
  max-width: 250px;
  max-height: 450px;
}
.pokeName {
  padding: 5px;
  font-weight: 900;
  font-size: large;
  color: #d87418;
}
.delete {
  background-color: #d87418;
  color: #fff7f1;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 50px;
  font-family: "Pokemon";
  box-shadow: 5px 3px 1px #402e32;
}
.delete:hover {
  background: #402e32;
  color: #fff7f1;
  box-shadow: 3px 2px 5px #775b47;
}
